<div class="flex flex-col">

    <div class="card bg-base-200 shadow-xl h-[75svh] w-[75svw]
     mb-8 overflow-y-auto overflow-x-clip whitespace-break-spaces break-all">
        <div class="card-body">
            @for (message of messages(); track message.sender + message.date) {
                <div [@slide]
                     [class.text-primary]="message.sender === sender()">{{ message.sender }}: {{ message.content }}
                </div>
            }
        </div>
    </div>

    <div class="flex w-[75svw]">
        <div class="flex-1 join w-full">
            <form class="w-full" [formGroup]="messageForm">
                <input class="join-item input input-bordered w-full min-w-0"
                       formControlName="message"
                       (keydown.enter)="sendMessageIfEnabled()"
                       placeholder="Message...">
            </form>

            <button class="join-item btn btn-neutral"
                    [disabled]="disableSend()"
                    (click)="sendMessage()">Send
            </button>
        </div>

    </div>

</div>

<button class="btn btn-neutral w-fit bottom-[20svh] right-[15svw]"
        [class.hidden]="!showJoinIdButton()"
        [class.fixed]="showJoinIdButton()"
        (click)="copyJoinId()">Copy join ID
</button>
